<h1 class="object_title"><%= t("request-type.editing_request_type") %></h1>

<%= render 'form', request_type: @request_type %>

<div class="bottom_link">
  <%= link_to t(:show), @request_type %> |
  <%= link_to t(:back), request_types_path %>
</div>
